/nbproject
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
frontend/node_modules
frontend/bower_components
public/assets
public/**/*.html
listenet/pids
listener/logs
listener/node_modules
app/config/owner

